/*********************************
			GENERAL
*********************************/
body, html {
font-size: small;
}
body {
	width:100%;
	height: 100%;	
	background: #fff;
	color: #222;
}
body, li ,span{
	font-family: arial,sans-serif;}

a{
	text-decoration:none;
	color:black;
 }

 li:hover{	
 	text-decoration: underline;
 }


/*********************************
			HEADER
*********************************/
header{
	margin:0;
	padding:0;
}
nav ul{
	float:right;
}
nav ul li{
	display: inline-block;
	margin:10px 30px 0 0;
}
nav li img{
 padding: 0px 0 0 0;
}
#navbutton{
	border: 1px solid #4285f4;
	outline: none;
	background: #4285f4;
	background: -webkit-linear-gradient(top,#4387fd,#4683ea);
	font-size:13px;
	font-weight:bold;
	color:white;
	border:none;
	height:30px; 
	border-radius:2px; 
}


/*********************************
			SECTION
*********************************/
.container{
	display:block;
	height:50%;
	width:95%;
	text-align:center;
	padding:14% 10px 17% 10px; 
}
input[type="text"] {
	width:40%;
	height:24px;
	margin:20px 0 15px 0;  
	background-image:url("download.png"); 
	background-position: right;
}
.refbutton{
	background: #f5f5f5;
	background: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	height: 30px;
	border: 1px solid #dcdcdc;
	border-color: rgba(0,0,0,0.1);
	color: #444!important;
	font-size: 11px;
	font-weight: bold;
	margin:0 7px 0 7px;
}


/*********************************
		FOOTER
*********************************/
footer{
	background-color: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	line-height: 45px;
}

#leftfoot{
	float:left;
	display: inline-block;
}
#rightfoot{
	float:right;
	display: inline-block;
}
#leftfoot a li{
	float:left;
	padding: 0 5px 0 5px;
	margin: 0 0 0 15px;
}
#rightfoot a li{ 
	float:left; 
	padding: 0 5px 0 5px;
	margin: 0 15px 0 0;
}
